
<!-- <input type="text"  [(ngModel)]="username"/>

<button (click)="search()">Search</button>



<div *ngIf="response; else response1">
  <p>{{response.login}}</p>
  <p>{{response.avatar_url}}</p>
  <p>{{response.id}}</p>
</div>




<button (click)="search1()">Ng IF</button>

    <div *ngIf="ngCheck; else response2">
          <p>I Aim jitu</p>
    </div>




<ng-template #response1>
    <p>Please Enter your Name</p>
</ng-template>

<ng-template #response2>
  <p>I am Working Fine</p>
</ng-template> -->


<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about/Rohit/10">About</a></li>
</ul>



<router-outlet></router-outlet>