body {
	font-size: 1.6em;
	font-weight: 400;
	color: #44525f;
	// background-image: url(https://sandbox-uploads.imgix.net/u/1550486182-7be4d8760197fcf4e3d4fb10b5bc5d4b);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: calc(100% - -400px) 0;
	height: 100vh;
	font-family: 'Nunito', sans-serif;
	background-color: rgba(45, 56, 94, 0.9);
}